# project documentation
README.md @newrelic/developer-enablement
CONTRIBUTING.md @newrelic/developer-enablement
cla.md @newrelic/developer-enablement
LICENSE @newrelic/developer-enablement
/_template/ @newrelic/developer-enablement

# project code and scripts
/utils/ @newrelic/developer-enablement

# worflows and github configuration
/.github/ @newrelic/developer-enablement
/.config/ @newrelic/developer-enablement

# product/content ownership
/dashboards/ @seemantk
