utils/node_modules
utils/newrelic_agent.log
utils/build

# IDE files
.DS_Store
settings.json
.env*
.idea

# VS CODE
.vscode
.devcontainer

snapshots/

# yarn
yarn.lock
.yarn-integrity
yarn-error.log
utils/yarn-error.log
